@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-brand-dark text-gray-900 dark:text-white transition-colors;
}

a {
  @apply text-brand-primary hover:text-brand-secondary transition-colors;
}
